* {
  box-sizing: border-box;
}

.desktop {
  display: none;
}

body {
  max-width: 375px;
  width: 100%;
  height: 100vh;
  max-height: 812px;
  display: flex;
  justify-content: center;

  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
}

main {
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  max-height: fit-content;
  padding: 6%;
  margin: 0 auto;
  margin-top: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

header {
  width: 100%;
}

header img {
  width: 80%;
}

.mobile-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.img {
  position: absolute;
  bottom: -50px;
}

.img-shadow {
  position: absolute;
  bottom: -80px;
}

.faq {
  margin-top: 80px;
}

h1 {
  text-align: center;
}

.dd-menu {
  border-bottom: 1px solid #ededed;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question:hover {
  color: #f47c57;
}

.question:active,
.question::selection {
  font-weight: bold;
  color: #000;
}

button.dropdown {
  background: none;
  border: none;
}

.answer {
  display: none;
}

.show {
  display: block;
}

.selected {
  font-weight: bold;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
